<footer class="m-footer">
  <p class="license">Release under <a href="https://github.com/regularjs/regular/blob/master/LICENSE" target="_blank">MIT License</a></p>
  <p class="rights">Copyright&nbsp;©&nbsp;2014&nbsp;&nbsp;<a href="https://leeluolee.github.io">@leeluolee</a>. Reserved</p>
</footer>

<script src='/bower_components/regularjs/dist/regular.min.js'> </script>
<script src="/asserts/js/nes.js"> </script>
