<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Regularjs - Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="keywords" content="template, data-binding, mvvm, component,reactive,angular,react" >
  <meta name="description" content="regularjs - simple, flexible and regular way to create reactive and nestable component">
  <link rel="stylesheet" href='/bower_components/codemirror/lib/codemirror.css'>
  <link rel="shortcut icon" href="/icon.png" >
  <link rel="stylesheet" href="/asserts/css/index.css"> 
</head>
<body>
