<header class="g-top" id='header'>
  <div class="m-nav m-nav-2">
    <div class="logo"><a href="/" class="inner"><img src="/asserts/image/regular-icon.png" alt="" with=50 height=50></a></div>
    <ul class="nav">
      <li><a class='inner' href="http://leeluolee.gitbooks.io/regular-guide/">Guide</a></li>
      <li><a href="http://leeluolee.gitbooks.io/regular-guide/en/introduct/index.html" class='inner' >Docs</a></li>
      <li><a class='inner' href="/examples">Example</a></li>
      <li><a class='github' href="https://github.com/regularjs/regular">Github</a></li>
    </ul>
  </div>
</header>
